################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2023/bin/Debug/net6.0
/AdventOfCode2023/obj
